.heading-divider {
  background-color: #9d858b;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.divider {
  margin: 0 0.5rem;
  border-left: 1px solid #9d858b;
  font-size: 0.7em;
}


/*contact*/
.bg-contact--1 {
  background-color: #FAF8F9;
}
.bg-contact--2 {
  background-color: #FAF8F9;
}
.bg-contact--3 {
  background-color: #F8F8F8;
}
