.heading-divider {
  background-color: #9d858b;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.divider {
  margin: 0 0.5rem;
  border-left: 1px solid #9d858b;
  font-size: 0.7em;
}

.bg-contact {
  background-color: #faf8f9;
}
