.section-title--template1 {
  margin-bottom: 0.5rem;
  @apply capitalize;
}
.section-title--template2 {
  margin-bottom: 0.5rem;
  color: $theme-text-2;
  @apply capitalize;
}
.section-title--template3 {
  margin-bottom: 0.5rem;
  color: $theme-text-3;
  @apply capitalize;
}

.sub-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 2rem;
}

.text-title-primary--template1 {
  color: #af8198;
  @apply text-center;
}

.text-primary--template1 {
  color: #937f89;
}
