.main-title {
  font-family: "KoPub Batang", serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2;
  color: white;
}

.greeting-content {
  line-break: break-all;
  margin: 0 20%;
}

.sub-title {
  font-family: "KoPub Batang", serif;
  font-size: 1.2rem;
  font-weight: bold;
}
