$theme-text-1: #af8198;
$theme-text-2: #af8f81;
$theme-text-3: #32482b;

$theme-pragraph-1: #53434b;
$theme-pragraph-2: #53434b;
$theme-pragraph-3: #252c26;

$theme-btn-1: #937f89;
$theme-btn-2: #6a6158;
$theme-btn-3: #445b45;

$theme-bg-1: #937f89;
$theme-bg-2: #faf8f9;
$theme-bg-3: #f8f8f8;

$theme-bg-light-1: #e9e5e7;
$theme-bg-light-2: #e9e7e5;
$theme-bg-light-3: #e9ede7;
