.accountNo {
  @apply intro-y text-center;
}

.accountNo__button-wrapper {
  @apply flex flex-col;
  margin-bottom: 1.5rem;
}

.accountNo__button {
  font-size: 0.8rem;
  font-weight: 500;
  width: 10.3rem;
  padding: 0.8rem;
  color: white;
  background-color: #937f89;
}

.accountNo__button:first-child {
  margin-bottom: 0.5rem;
}
